[Unit]
Description=gadget_cdrom
After=local-fs.target
Before=basic.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/gadget_cdrom
ExecStartPre=/opt/gadget_cdrom/create_image.sh auto
ExecStart=/opt/gadget_cdrom/gadget_cdrom.py
Restart=on-failure

[Install]
WantedBy=multi-user.target