<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gadget CD-ROM Interface</title>
    <link rel="stylesheet" type="text/css" href="static/water-css/light.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <h1>Gadget CD-ROM Interface</h1>

    % if error:
        <div class="error">{{error}}</div>
    % end

    <h2>Mode</h2>
    <p>Current Mode: {{mode}}</p>
    <form action="/mode_change" method="post">
        <select name="mode">
            % for modei in all_modes:
                <option value="{{modei}}" 
                % if modei == mode: 
                selected="selected" 
                % end
                >{{modei}}</option>
            % end
        </select>
        <input type="submit" value="Change Mode">
    </form>

    % if browse_modes:
    <h2>Image</h2>
    <p>Current Image: {{inserted_iso}}</p>
    <form action="/insert_iso" method="post">
        <select name="iso">
            % if iso_list:
                % for iso in iso_list:
                    <option value="{{iso}}" 
                    % if iso == inserted_iso: 
                    selected="selected" 
                    % end
                    >{{iso}}</option>
                % end
            % else:
                <option value="">No Images available</option>
            % end
        </select>
        <input type="submit" value="Insert Images">
    </form>
    <form action="/remove_iso" method="post">
        <input type="submit" value="Unmount Image">
    </form>
    % end

     % if filebrowser_enable:
        <h2>File Browser</h2>
        % if upload_mode:
            <a href="{{filebrowser_url}}" target="_blank">Open File Browser</a>
        % else:
            <a href="#" onclick="alert('Change mode to web-upload first.'); return false;">Open File Browser</a>
        % end
    % end

</body>
</html>
